th,
td {
  width: calc(100% / 3);
  border: 2px solid black;
  padding: 8px;
  text-align: left;
  color: black;
  text-align: center;
}

th {
  color: white;
}

.table {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-bottom: 50px;
}

.head {
  background-color: rgb(59, 58, 58);
}

.item {
  text-align: center;
}

.item:nth-child(odd) {
  background-color: #ffffff;
}

.item:nth-child(even) {
  background-color: rgb(189, 185, 185);
}

.value {
  margin-left: auto;
  margin-right: auto;
}
